.wpcf7 {
  form {
    label {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
      overflow: hidden;
      display: inline-block !important;
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      width: 100%;
      padding: 1rem;
    }
    input[type="submit"] {
      $btn-color: theme-color("primary");
      border: 1px solid theme-color("primary");
      background-color: theme-color("primary");
      padding: 0.8rem 1.5rem;
      &:hover {
        background-color: darken($btn-color, 0.15);
      }
    }
  }
}
