.wpcf7 {
  form {
    label {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
      overflow: hidden;
      display: inline-block !important;
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      width: 100%;
      padding: 1rem;
    }
  }
}
