#wpforo #wpforo-wrap .wpf-breadcrumb div {
  font-size: $breadcrumb-font-size;
}

#wpforo #wpforo-wrap:not(.wpft-post) {
  .wpforo-content {
    > div:not(.wpf-head-bar):not(.wpf-subforum-sep):not(.wpf-navi) {
      margin-bottom: 1rem;
      box-shadow: $box-shadow;
    }
  }
}

#wpforo #wpforo-wrap {
  .wpforo-content .wpforo-feed {
    display: none; // hide the wpforo feeds (unread post and the ones with rss)
  }
  padding-top: 0;
  .wpforo-forum-info {
    .wpforo-subforum {
      display: none;
    }
  }
  .wpf-breadcrumb {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  .wpft-post {
    // topic post page
    .wpfl-1 {
      > div:not(.wpforo-post-head) {
        box-shadow: $box-shadow;
      }
      > div:not(.wpforo-post-head):not(.wpf-tools) {
        margin-bottom: 1rem;
      }
    }
  }
}

.wpft-recent #wpforo #wpforo-wrap {
  .wpforo-recent-wrap {
    padding: 1rem;
  }
}
