$header-height: 72px;
$header-height-desktop: 73px;
$mobile-nav-width: 250px;
.page-container {
  padding-top: calc(#{$header-height} + 4.5rem);
  padding-bottom: 4.5rem;
}
#masthead {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: theme-color("dark-gray");
  .site-branding {
    max-width: 100px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .hamburger {
    outline: none;
  }
  .header-right {
    .main-navigation {
      ul#menu-main-menu {
        list-style: none;
        padding-left: 0;
      }
      @include media-breakpoint-down(md) {
        background-color: #fff;
        z-index: 99;
        $main_nav_width: $mobile-nav-width;
        width: $main_nav_width;
        position: fixed;
        left: -$main_nav_width;
        top: $header-height;
        height: 100%;
        transition: all 0.3s linear;
        -webkit-box-shadow: 1px 0px 5px 0px rgba(138, 138, 138, 0.7);
        -moz-box-shadow: 1px 0px 5px 0px rgba(138, 138, 138, 0.7);
        box-shadow: 1px 0px 5px 0px rgba(138, 138, 138, 0.7);
        ul#menu-main-menu {
          > li.nav-item {
            padding: 0 1rem;
            a {
              color: theme-color("dark-gray");
              padding: 1rem 0;
              border-bottom: 1px solid #f7f7f7;
            }
          }
        }
        &.show {
          left: 0;
        }
      }
      @include media-breakpoint-up(lg) {
        display: block;
        ul#menu-main-menu {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          > li.nav-item {
            a {
              color: #fff;
              &:hover {
                color: rgba(#fff, 0.7);
              }
            }
          }
        }
      }
    }
    .header-search {
      form {
        display: flex;
        align-items: stretch;
        input {
          //   width: 100px;
          @include media-breakpoint-up(lg) {
            width: 300px;
          }
          padding-left: 8px;
        }
        button[type="submit"] {
          padding: 5px 8px;
          border: none;
          background-color: theme-color("theme-light-gray");
          svg {
            color: #fff;
          }
        }
      }
    }
    .header-account {
      > a {
        color: #fff;
        &:hover {
          color: rgba(#fff, 0.7);
          > svg {
            color: rgba(#fff, 0.7);
          }
        }
      }
      .user-navigation {
        @include media-breakpoint-up(lg) {
          top: $header-height-desktop;
        }
        background-color: #fff;
        z-index: 99;
        $main_nav_width: $mobile-nav-width;
        width: $main_nav_width;
        position: fixed;
        left: -$main_nav_width;
        top: $header-height;
        height: 100%;
        transition: all 0.3s linear;
        -webkit-box-shadow: 1px 0px 5px 0px rgba(138, 138, 138, 0.7);
        -moz-box-shadow: 1px 0px 5px 0px rgba(138, 138, 138, 0.7);
        box-shadow: 1px 0px 5px 0px rgba(138, 138, 138, 0.7);
        ul#menu-user-menu {
          list-style: none;
          padding-left: 0;
          padding: 0 1rem;
          > li.nav-item {
            a {
              color: theme-color("dark-gray");
              padding: 1rem 0;
              border-bottom: 1px solid #f7f7f7;
            }
          }
        }
        &.show {
          left: 0;
        }
      }
      svg {
        color: #fff;
      }
    }
  }
}
