.page-sidebar {
  section {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
.page-mobile-sidebar {
  li {
    list-style: none;
  }
}
#wpf-widget-profile {
  .wpf-prof-header {
    flex-wrap: wrap;
    .wpf-prof-alerts {
      cursor: pointer;
      overflow: hidden;
      .wpf-bell {
        display: flex;
        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
