.screen-reader-text {
  position: absolute;
  left: -999999999px;
}

a,
svg {
  transition: all linear 0.4s;
}

html {
  margin-top: 0 !important;
}

// hide powered by section
#wpforo #wpforo-wrap #wpforo-poweredby {
  display: none;
}

// reset widget border bottom style
.page-container
  #wpforo
  #wpforo-wrap
  .wpforo-widget-wrap
  .wpforo-widget-content
  li,
.page-container .wpforo-widget-wrap .wpforo-widget-content li {
  border-bottom: $border;
}
